

<div class="container vh-100">
    <div class="row">
        <div class="col-md">
            <h3 class="card-title">
                Detalle de la compra
            </h3>
            <hr class="hr">

            <ng-container *ngIf="productsCart.length == 0">
                <div class="alert alert-warning" role="alert">
                    <h4 class="alert-heading">
                        <i class="bi bi-cart-x"></i>&nbsp;&nbsp;¡Upsss...!
                    </h4>
                    <hr>
    
                    <div class="row bw justify-content-between">
                        <div class="col-md-6">
                            Aún no se ha agregado nada al carro de compras.
                        </div>
                        <div class="col-md-4 text-end">
                            <button (click)="goToStore()" type="button" class="btn btn-primary">
                                <i class="bi bi-cart"></i>
                                Ir a la tienda
                            </button>
                        </div>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="productsCart.length > 0">
                <div class="row">
                    <div class="col-md text-end">
                        <button (click)="cleanProductsCart()" class="btn btn-sm btn-danger">
                            <i class="bi bi-trash"></i>
                            Limpiar Carrito
                        </button>
                    </div>
                </div>

                <div class="row pt-3">
                    <div class="col-md">
                        <div class="card shadow">
                            <div class="card-body">
        
        
                                <div *ngFor="let item of productsCart" class="row">
                                    <div class="col-md-2">
                                        <img src="{{item.products.image}}" class="p-3 rounded mx-auto d-block" alt="{{item.products.title}}" width="100px">
                                    </div>
                                    <div class="col-md">

                                        <div class="row justify-content-between">
                                            <div class="col-sm">
                                                <span>{{item.products.title}}</span>
                                            </div>
                                            <div class="col-sm-1 text-end">
                                                <button (click)="removeItemByUuid(item.uuid)" class="btn btn-sm btn-danger">
                                                    <i class="bi bi-trash"></i>
                                                </button>
                                            </div>
                                        </div>
        
                                        <table class="table table-striped" style="font-size: 11px;">
                                            <thead>
                                                <tr>
                                                    <th class="text-end">Precio</th>
                                                    <th class="text-end">Cantidad</th>
                                                    <th class="text-end"><strong>Importe</strong></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-end">{{item.products.price | currency}}</td>
                                                    <td class="text-end">{{item.quantity}}</td>
                                                    <td class="text-end"><strong>{{item.quantity * item.products.price | currency}}</strong></td>
                                                </tr>
                                            </tbody>
                                        </table>
        
                                    </div>
                                    <hr class="hr">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="hr">

                <div class="row">
                    <div class="col-md">
                        <div class="card shadow">
                            <div class="card-body">

                                <table class="table table-striped" style="font-size: 12px;">
                                    <thead>
                                        <tr class="bg-dark-subtle">
                                            <th colspan="2" class="text-end">Totales</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-group-divider">
                                        <tr>
                                            <td class="text-end">Subtotal: </td>
                                            <td class="text-end"><strong>{{subtotalPay | currency}}</strong></td>
                                        </tr>
                                        <tr>
                                            <td class="text-end">Precio de Importación: </td>
                                            <td class="text-end"><strong>{{taxes | currency}}</strong></td>
                                        </tr>
                                        <tr class="border-top">
                                            <td class="text-end">A pagar:</td>
                                            <td class="text-end bg-warning-subtle"><strong>{{totalPay  | currency}}</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>

        </div>
    </div>
</div>