<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <a href="home" class="d-flex align-items-center text-white text-decoration-none m-2">
          Store PROJECT
          &nbsp;
          <i class="bi bi-bag text-white"></i>
        </a>

        <div class="vr"></div>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="home" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="store" class="nav-link px-2 text-white">Store</a></li>
          <li><a href="about" class="nav-link px-2 text-white">About</a></li>
        </ul>
        
      </div>
    </div>
  </header>
