
<div class="container pt-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card border-danger text-center">
                <div class="card-header">
                    <div class="error-animation text-center" [@pulso]="true">
                        <h1 class="error-title">¡Página no encontrada!</h1>
                    </div>
                </div>

                <div class="card-body">
            
                    <p>Lo sentimos, la página o el recurso que estás buscando no existe.</p>
                    <h2 class="card-title">¡No te preocupes!</h2>
                    <p>Puedes ir a la página de inicio y empezar de nuevo.</p>

                    <div class="d-grid gap-2">
                        <a href="home" class="btn btn-sm btn-danger">Volver a inicio</a>
                    </div>

            
            
                </div>
            </div>
        </div>
    </div>
</div>
